/*Sign In Form*/
.signin {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  max-height: 700px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 30px 125px -5px #000;
}

/*Background Img*/
.back-img {
  position: relative;
  width: 100%;
  height: 250px;
  background: url('https://fastly.picsum.photos/id/15/2500/1667.jpg?hmac=Lv03D1Y3AsZ9L2tMMC1KQZekBVaQSDc1waqJ54IHvo4')no-repeat center center;
  background-size: cover;
}

.layer {
  background-color: rgba(33, 150, 243, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active {
  padding-left: 25px;
  color: white;
}

.sign-in-text {
  top: 175px;
  position: absolute;
  z-index: 1;
}

h2 {
  padding-left: 15px;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 300;
}

.point {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 235px;
  padding-left: 50px;
  font-size: 20px;
}

/*form-section*/
.form-section {
  padding: 16rem 3.2rem;


}

.keep-text {
  font-size: 15px;
  color: #BDBDBD;
}

.mdl-textfield__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
}

.mdl-textfield--floating-label .mdl-textfield__label {
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.mdl-textfield__label {
  bottom: 0;
  color: rgba(0, 0, 0, .26);
  font-size: 16px;
  left: 0;
  right: 0;
  pointer-events: none;
  display: block;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.mdl-textfield__label:after {
  background-color: rgb(33, 150, 243);
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  visibility: hidden;
  width: 10px;
}


.forgot-text {
  font-size: 12px;
  color: #BDBDBD;
  text-align: right;
}

/*sign-in-btn*/
.sign-in-btn {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  border-radius: 0px;
  background-color: rgba(33, 150, 243, 1);
  border-color: transparent;
}

.btn-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: 650px) {
  .signin {
    min-height: 75vh;
    margin: 10rem auto;
  }
  
  .form-section {
    padding: 10rem 3.2rem;

  
  }
}