/* Common Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Boogaloo', sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
  --black-color: black; 
}

.subtitle{
  font-family: 'Sriracha', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.container {
  background-color: var(--secondary-color);
  margin: 3.5rem;
  box-shadow: 0 1rem 3rem var(--grey-color);
  overflow: hidden;
}

/* End of Common styles */

/* Navbar */
.navbar-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  flex-direction: column;
}

.open-navbar-icon {
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 200;
}

.navbar-icon .line {
  height: 0.2rem;
  width: 3.5rem;
  background-color: var(--light-grey-color);
}

.open-navbar-icon .line {
  margin: 0.3rem 0;
}

.navbar-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 300;
  padding: 3.5rem 5.5rem 3.5rem 3.5rem;
  transition: bottom 0.5s, opacity 0.2s;
}

.change .navbar-wrapper {
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.2s 0.25s;
}

.navbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('img/header-bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}

.close-navbar-icon {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 300;
}

.close-navbar-icon .line {
  position: absolute;
}

.line-1 {
  transform: rotate(40deg);
}

.line-2 {
  transform: rotate(-40deg);
}

.nav-list {
  height: 100%;
  display: flex;
}

.nav-link {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
  width: 100%;
  opacity: 0.8;
  position: relative;
  top: -100%;
  transition: all 0.3s;
}

.change .nav-link {
  top: 0;
}

.nav-link:hover {
  opacity: 1;
  color: var(--primary-color);
}

.change .nav-link:nth-child(1) {
  transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(2) {
  transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(3) {
  transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(4) {
  transition: top 1s 1s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(5) {
  transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
}

/* End of Navbar */

/* Header */
.header {
  width: 100%;
  height: calc(100vh - 7rem);
  background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3)),
    url('../public/img/header-bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  perspective: 100rem;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem var(--grey-color);
}

.heading {
  font-size: 8rem;
  color: var(--white-color);
}

.header-paragraph {
  font-size: 3rem;
  font-weight: 500;
  color: var(--secondary-color);
  max-width: 70rem;
  margin: auto;
}

.logo {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

.logo h1 {
  display: flex;
}

.logo h1 span {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: var(--white-color);
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem;
  border-radius: 50%;
}
/* 
.logo h1 span:nth-child(1) {
  animation: drop-letters 5s 0.1s infinite;
}

.logo h1 span:nth-child(2) {
  animation: drop-letters 5s 0.2s infinite;
}

.logo h1 span:nth-child(3) {
  animation: drop-letters 5s 0.3s infinite;
}

.logo h1 span:nth-child(4) {
  animation: drop-letters 5s 0.4s infinite;
}

.logo h1 span:nth-child(5) {
  animation: drop-letters 5s 0.5s infinite;
}

.logo h1 span:nth-child(6) {
  animation: drop-letters 5s 0.6s infinite;
}

.logo h1 span:nth-child(7) {
  animation: drop-letters 5s 0.7s infinite;
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
} */

.header-image {
  width: 35%;
  animation: image-float 600s forwards;
}

@keyframes image-float {
  0% {
    transform: translateZ(40rem);
    opacity: 1;
  }

  40% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: 0.8;
  }

  100% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: .6;
  }
  
}

/* End of Header */

/* Abouts us */

.about-us {
  padding: 5rem 0 10rem 0;
}

.about-us-heading {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 8rem;
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-bg {
  padding: 5rem;
  margin: 2rem 5rem;
  width: 80%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
}


.about {
  display: flex;
}

.about-text {
  letter-spacing: 0.1rem;
}

.about-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 1rem;
}

.about-paragraph {
  font-size: 1.8rem;
  color: var(--light-grey-color);
}

.about-paragraph::first-letter {
  margin-left: 1rem;
}

/* End about us */

/* Popular tours */
.popular-tours {
  padding: 5rem 0 10rem 0;
}

.popular-tours-heading {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 8rem;
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7rem
}

.card {
  width: 100%;
  padding: 1.5rem;
  perspective: 150rem;
  border: 0.1rem solid var(--light-grey-color);
  border-radius: 1rem;
  background-color: var(--white-color);

}

.card-image {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}


.tour-name {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem auto 0 auto;
  text-align: left;
  color: var(--primary-color);
}

.tour-name-subtitle {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: left;
  color: var(--grey-color);
}


.card-list-item {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-grey-color);
  margin: 2rem 0;
  border-bottom: 0.1rem solid var(--primary-color);
  padding-bottom: 1.5rem;
}


.change>.back-side {
  transform: translateZ(0) translateX(0);
  box-shadow: 0 0.5rem 2rem #aaa;
  opacity: 0.9;
}

.tour-price {
  font-size: 5rem;
  font-weight: 300;
  color: var(--white-color);
  margin-bottom: 3rem;
}

.items-tour{
  display: flex;
  flex-direction: row;
  
}

.navigation-button {
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.icon-tour{
  justify-content: center;
  justify-items: center;
  font-size: 6rem;
  color: green;
  margin: auto;
}


/* End of Popular tours */

/* Benefits */
.list{
  list-style-type: circle !important;

}
.benefits {
  position: relative;
  padding: 2.5rem 0 10rem 0;
}

.benefit-heading-principal {
  position: relative;
  font-size: 7rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.benefit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.benefit-bg {
  padding: 2.5rem;
  margin: 2rem 5rem;
  width: 91%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  transform: skewX(0deg);
}


.benefit {
  display: flex;
}

.benefit-text {
  letter-spacing: 0.1rem;
}

.benefit-heading {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 1rem;
}

.benefit-paragraph {
  font-size: 2.2rem;
  color: var(--black-color);
}

.benefit-paragraph::first-letter {
  margin-left: 1rem;
}

.benefit-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* End Benefits */



/* Stories */
.stories {
  padding: 10rem 0;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.stories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-bg {
  padding: 5rem;
  margin: 5rem;
  width: 70%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  transform: skewX(20deg);
}

.story {
  transform: skewX(-20deg);
  display: flex;
}

.story-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5rem;
}

.story-text {
  letter-spacing: 0.1rem;
}

.story-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 1rem;
}

.story-paragraph {
  font-size: 1.8rem;
  color: var(--black-color);
}

.story-paragraph::first-letter {
  margin-left: 1rem;
}

.story-face-btn{
  margin: 2rem 3rem;
  padding: 1rem 3rem;
  background-color: rgb(24, 119, 242);
  border-radius: 4rem;
  font-size: 2.5rem;
}

.story-insta-btn{
  margin: 2rem 3rem;
  padding: 1rem 3rem;
  background-color: rgb(235, 2, 131);
  border-radius: 4rem;
  font-size: 2.5rem;
}

.story-face-btn a{
  color: white;
  text-decoration: none;
}

.story-insta-btn a{
  color: white;
  text-decoration: none;
}






/* End of Stories */



/* Footer */
.footer {
  background-color: var(--grey-color);
  padding: 4rem 0 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-size: 2rem;
  color: var(--white-color);
  margin: 0 2rem;
  background-color: var(--grey-color);
  padding: 0.3rem 3rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}

.footer-link:hover {
  transform: rotate(-10deg);
  box-shadow: 0 2rem 3rem #000;
}

.footer-paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}

/* End of Footer */

@media (min-width: 1200px) {
 

  .story-bg {
    width: 85%;
  }
}

@media (max-width: 1000px) {

 


  .nav-list {
    flex-direction: column;
  }

  .nav-link {
    flex-grow: 1;
  }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .heading {
    font-size: 6rem;
  }

  .header-paragraph {
    font-size: 2.5rem;
  }

  .popular-tours-heading {
    font-size: 6rem;
  }

  .story-bg {
    transform: skewX(0);
  }

  .story {
    transform: skewX(0);
    flex-direction: column;
    align-items: center;
  }

  .story-image {
    margin-bottom: 3rem;
  }

  .footer-link {
    padding: 0.3rem 2rem;
    margin: 0 1rem;
  }

 
}


@media (min-width: 800px) {
  
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10rem, auto);
    width: 85%;
    margin: auto; 
    gap: 4rem;
  }

}





@media (max-width: 800px) {



  .about-us-heading {
    font-size: 5rem;
  }

  .popular-tours-heading {
    font-size: 5rem;
  }

  .contact-form {
    width: 90%;
  }

  .footer-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-link {
    margin: 1rem 0;
  }


}

@media (max-width: 650px) {

  

  .container {
    margin: 0;
  }

  .open-navbar-icon {
    top: 2.5rem;
    left: 2.5rem;
  }

  .navbar-wrapper {
    padding: 0;
  }

  .close-navbar-icon {
    right: 4rem;
  }

  .header {
    height: 100vh;
  }

  .contact-heading {
    font-size: 6rem;
  }

  .contact-form {
    padding: 2rem;
    height: 40rem;
  }




}

@media (max-width: 500px) {


  .logo h1 span {
    font-size: 2.3rem;
    font-weight: 800;
    width: 3.4rem;
    height: 3.4rem;
    margin: 0.01rem;
    border-radius: 50%;
  }

  .heading {
    display: none;
  }

  .header-paragraph {
    font-size: 5rem;
  }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }


  html {
    font-size: 45%;
  }

  .story-image{
    margin-right: 0;
  }

  .story-btn{
    margin: 4rem 2rem;
    padding: 0.5rem 4rem;
    
  }
}